<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="{% static 'usuario/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'usuario/css/mycss.css' %}" rel="stylesheet">
        <title>{% block title %} Entrar {% endblock %}</title>
    </head>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
