{% extends 'base.html' %}
{% block title %}Formulário de inscrição{% endblock %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <p><div>
        <h4 class="text-muted">DADOS PESSOAIS</h4>
    </div></p>
    <div class="form-control">
        {{form1.as_p}}
    </div>
    <p><div>
        <h4 class="text-muted">DADOS DA INSCRIÇÃO</h4>
    </div></p>
    <div class="form-control">
        {{form2.as_p}}
    </div>
    <br>
    <p><button class="btn btn-primary btn-lg" type="submit" class="btn-success">
        Fazer minha inscrição</button></p>
</form>
{% endblock %}
<p>{% block footer %} {% include 'footer.html' %} {% endblock %}</p>