{% extends 'base.html' %}
{% block title %}Formulário de inscrição{% endblock %}
{% block body %}
<div class="header">
    {% if request.user %}
        <ul align="right">
            <span class="text-muted">Usuário: </span><a href="{% url 'inscricao:ficha_inscricao' %}">{{request.user}}</a><br>
            <span class="text-muted"></span><a href="{% url 'logout' %}">Sair</a>
        </ul>
    {% endif %}
</div>
<form method="post">
    {% csrf_token %}
    <p><div>
        <h4 class="text-muted">DADOS PESSOAIS</h4>
    </div></p>
    <div class="form-control">
        {{form1.as_p}}
    </div>
    <p><div>
        <h4 class="text-muted">DADOS DA INSCRIÇÃO</h4>
    </div></p>
    <div class="form-control">
        {{form2.as_p}}
    </div>
    <br>
    <p><button class="btn btn-primary btn-lg" type="submit" class="btn-success">
        Fazer minha inscrição</button></p>
</form>
{% endblock %}
<p>{% block footer %} {% include 'footer.html' %} {% endblock %}</p>