{% extends "base.html" %}
{% block title %}Sistema de Inscrição em Eventos{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Inscrição Online</h1>
            <p class="lead">Todos os eventos com inscrições abertas estão listados abaixo:</p>
            {% for e in evento %}
                {% if e.situacao == 2 %}
                    <a href="{% url 'login' %}">{{e.nome}}</a><br>
                {% else %}
                    Nenhum Evento aberto!
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <a class="btn btn-primary btn-lg" href="{% url 'usuario:registrar' %}"
       role="button">Desejo criar meu login</a>
{% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}