{% extends "base.html" %}
<div>{% block title %}Sistema de Inscrição em Eventos{% endblock %}</div>
{% block body %}

<div class="container">
    <div class="modal-body">
        <h2 class="modal-title">Faça sua inscrição</h2>
            {% for e in evento %}
                {% if e.situacao == 2 %}
                    <li class="list-group-item-action:focus">{{e.nome}}</li>
                {% else %}
                    Nenhum Evento aberto!
                {% endif %}
            {% endfor %}
    </div>
</div>



<div class="box">
    Criar meu <a href="{% url 'usuario:registrar' %}">Login</a><br>
    <a href="{% url 'login' %}">Entrar</a><br>
</div>

{% endblock %}